{{- /* Load host-specific config */ -}}
{{- $hostFile := printf ".chezmoidata_%s.yaml" .chezmoi.hostname -}}
{{- $hostData := include $hostFile | fromYaml -}}

{{- if not $hostData.type -}}
{{-   fail (printf "Unknown hostname '%s'. Create .chezmoidata_%s.yaml" .chezmoi.hostname .chezmoi.hostname) -}}
{{- end -}}

sourceDir = "{{ $hostData.repoPath }}/home"

[data]
    machineType = {{ $hostData.type | quote }}
    email = {{ $hostData.email | quote }}
    name = {{ $hostData.name | quote }}
    githubUsername = {{ $hostData.githubUsername | quote }}
    repoPath = {{ $hostData.repoPath | quote }}

[edit]
    command = "vim"

[diff]
    command = "delta"

[git]
    autoCommit = false
    autoPush = false

# 1Password integration
# Requires: brew install 1password-cli
# Sign in: eval $(op signin)
[data.onepassword]
    enabled = true

[onepassword]
    account = "shaulski.1password.com"
