[user]
    name = {{ .name }}
    email = {{ .email }}
    {{- if .githubUsername }}
    username = {{ .githubUsername }}
    {{- end }}

[core]
    editor = code --wait
    pager = delta
    autocrlf = input
    excludesfile = ~/.gitignore_global

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    default = current
    autoSetupRemote = true

[fetch]
    prune = true

[rebase]
    autoStash = true

[merge]
    tool = vscode
    conflictstyle = diff3

[mergetool "vscode"]
    cmd = code --wait $MERGED

[diff]
    tool = vscode
    colorMoved = zebra

[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

[delta]
    navigate = true
    light = false
    side-by-side = true
    line-numbers = true

[interactive]
    diffFilter = delta --color-only

[alias]
    # Short aliases
    st = status
    co = checkout
    br = branch
    ci = commit
    unstage = reset HEAD --
    last = log -1 HEAD

    # Pretty logs
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lga = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all

    # Useful commands
    amend = commit --amend --no-edit
    undo = reset --soft HEAD~1
    wip = commit -am "WIP"
    save = !git add -A && git commit -m 'SAVEPOINT'

    # Cleanup
    cleanup = !git branch --merged | grep -v '\\*\\|main\\|master\\|develop' | xargs -n 1 git branch -d

{{- if eq .chezmoi.os "darwin" }}
[credential]
    helper = osxkeychain
{{- end }}

{{- if .onepassword.enabled }}
# 1Password can store GitHub tokens
# After setup, Git will use 1Password to authenticate
# Configure with: gh auth login
{{- end }}

[url "git@github.com:"]
    insteadOf = https://github.com/

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

{{- if eq .machineType "workato" }}
# Workato-specific git configuration
# Use workato email for workato repositories
# Example: Override email for repos in ~/workato/ directory
[includeIf "gitdir:~/workato/"]
    path = ~/.gitconfig.workato

# You can create ~/.gitconfig.workato with:
# [user]
#     email = your.name@workato.com
{{- else if eq .machineType "own" }}
# Own machine git configuration
# Use personal email for personal repositories
[includeIf "gitdir:~/Developer/personal/"]
    path = ~/.gitconfig.own

# You can create ~/.gitconfig.own with:
# [user]
#     email = personal@example.com
{{- end }}

# Include local config (not managed by chezmoi)
[include]
    path = ~/.gitconfig.local
