server=vpn.ivis.ru
protocol=anyconnect
user={{ onepasswordRead "op://IVIS/Ivis VPN/username" }}
# password retrieved via: op read "op://IVIS/IVIS VPN/password"
servercert=pin-sha256:JxtSf6bmBv31qGQUF0Vsb0K2Ic+ncWVbrSLdbRBV2kA=
no-dtls
